* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("images/background.png") no-repeat;
    background-size: contain;
}
header {
    padding: 23px;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: flex-start;
    text-align:left;
}

.logo img {
    width: 90px;
    height: auto;
}
.nav {
    align-self: flex-end;
    text-align:right;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav li {
    display: inline-block;
    margin-right: 10px;
}
.nav a {
    color: #fff;
    text-decoration: none;
}
.nav a:hover {
    color: #808;
}
.get-schooled {
    width: 684px;
    height: 151px;
    top: 220px;
    left: 377px;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-weight: 700;
    line-height: 151px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}
/*.school{
    text-align: center;
}*/
.smiles{
    width: 52px;
    height: 20px;
    top: 361px;
    left: 593px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}
.grin{
    width: 36px;
    height: 20px;
    top: 361px;
    left: 704px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}
.laugh{
    width: 49px;
    height: 20px;
    top: 361px;
    left: 797px;
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.reg-btn{
    width: 162px;
    height: 44px;
    top: 419px;
    left: 639px;
    box-shadow: 0px 2px 20px 0px #00000080;
    background: #C271FF;
    border-radius: 25px;
}
#reg-4-free {
    width: 121px
    height: 18px
    top: 13px
    left: 20px
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}
